

@keyframes animationButtonReset {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-color: 0% 0;
    }
}

@keyframes winner {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes animationError{
    0%{
        opacity: 100%;
        transform: translateY(0);
    }
    100%{
        opacity: 20%;
        transform: translateY(-8rem);
    }
}